*{
    padding: 0;
    margin: 0;
    font-family: 'Radio Canada', sans-serif;
}

body{
    background-color: #171717;
}

.main__title__div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main__div__redirection{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    background-color: #da0037;
    color: #ededed;
    padding: 25px;
    border: solid 5px #171717;
    border-radius: 50px;
}

.main__title{
    color: #da0037;
    font-size: 100px;
    text-shadow: 1px 1px 10px #171717;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
}

.header__btn{
    background-color: transparent;
    border: none;
}

.header__title__span{
    color: #da0037;
    transition: 0.5s;
}

.header__title__span:hover{
    text-shadow: 0 0 30px #da0037,
    0 0 20px #da0037,
    0 0 10px #da0037;
}

.header__title{
    color: #ededed;
}

.header__div{
    display: flex;
}

.header__title__main{
    text-decoration: none;
}

.main__section{
    display: grid;
    grid-template-rows: 1fr 2fr;
    
}

.main__section__div{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.main__section__title{
    color: #da0037;
    font-size: 40px;
    margin: 50px;
}

.card__div{
    width: 250px;
    height: 300px;
    border-radius: 50px;
    overflow: hidden;
}

.card__img{
    width: 250px;
    height: 300px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    background-color: white;
    transition: 2s;
}

.card__img:hover{
    transform: scale(1.2);
}

.card__title{
    margin: 10px;
    font-size: 30px;
    color: #da0037;
}

.gb-video{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
}