:root{
    --bg-night: #171717;
    --bg-night-secondary: #444444;
    --gb-day: #faf3f3;
    --bg-day-secondary: #a7bbc7;
    --font-night: #da0037;
    --font-day: #FC345C;
    --font-wt: #ededed;
    --font-bl: #171717;
    --colorTransition: 2s;
}

*::-webkit-scrollbar {
    display: none;
  }

*{
    padding: 0;
    margin: 0;
    font-family: 'Radio Canada', sans-serif;
}

.body--nightMode{
    background-color: var(--bg-night);
    transition: var(--colorTransition);
}

.body--dayMode{
    background-color: var(--gb-day);
    transition: var(--colorTransition);
}

.main__title__div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main__div__redirection{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    padding: 25px;
    border-radius: 50px;
    color: var(--font-wt);
    background-color: var(--font-night);
    border: solid 5px var(--bg-night);
}

.main__title--nightMode{
    color: var(--font-night);
    transition: var(--colorTransition);
}

.main__title--dayMode{
    color: var(--font-day);
    transition: var(--colorTransition);
}

.main__title{
    font-size: 100px;
    text-shadow: 1px 1px 10px var(--bg-night);
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 25px;
    border-bottom: #171717 1px solid;
}

.header__presentacion{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.header__bg--transparent{
    background-color: transparent;
    transition: 1s;
}

.header__bg--nightMode{
    background-color: var(--bg-night-secondary);
    transition: var(--colorTransition);
}

.header__bg--dayMode{
    background-color: var(--bg-day-secondary);
    transition: var(--colorTransition);
}

.header__btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.movie__btn{
    margin: 30px;
    background-color: transparent;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    overflow: hidden;
}

.header__title__span--nightMode{
    color: var(--font-night);
    transition: var(--colorTransition);
}

.header__title__span--dayMode{
    color: var(--font-day);
    transition: var(--colorTransition);
}

.header__title__span{
    transition: 0.5s;
}

.header__title__span:hover{
    text-shadow: 0 0 30px #da0037,
    0 0 20px #da0037,
    0 0 10px #da0037;
}

.header__title--nightMode{
    color: var(--font-wt);
    transition: var(--colorTransition);
}

.header__title--dayMode{
    color: var(--font-bl);
    transition: var(--colorTransition);
}

.header__div{
    display: flex;
}

.header__title__main{
    text-decoration: none;
}

.main__section{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.main__presentacion{
    height: 70vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.main__section__div{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.carousel{
    display: flex;
    overflow: scroll;
    flex-wrap: nowrap;
    align-items: center;
}

.main__section__title--nightMode{
    color: var(--font-night);
    transition: var(--colorTransition);
}

.main__section__title--dayMode{
    color: var(--font-day);
    transition: var(--colorTransition);
}

.main__section__title{
    font-size: 40px;
    margin: 50px;
}

.card__div{
    width: 250px;
    height: 300px;
    border-radius: 50px;
    overflow: hidden;
}

.card__img{
    width: 250px;
    height: 300px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    transition: 2s;
}

.card__img:hover{
    transform: scale(1.1);
}

.card__title--nightMode{
    color: var(--font-night);
}

.card__title--dayMode{
    color: var(--font-day);
}

.card__title{
    margin: 10px;
    font-size: 30px;
}

.gb-video{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
}

.display--none{
    display: none;
}

.filtros__bg--nightMode{
    background-color: var(--bg-night-secondary);
    transition: var(--colorTransition);
}

.filtros__bg--dayMode{
    background-color: var(--bg-day-secondary);
    transition: var(--colorTransition);
}

.filtros{ 
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainClass__filtros{
    display: grid;
    grid-template-columns: 2fr 10fr;
    
}

.section__form{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form{
    height: 300px;
    width: 800px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.form__div{
    display: flex;
}

.return__btn{
    margin-left: 47%;
    margin-right: auto;
}

.form_busq{
    height: 30px;
    display: flex;
    align-items: center;
}

.busqueda{
    background-color: var(--font-wt);
    border: 2px solid var(--font-night);
    border-radius: 10px;
    margin: 5px;
}

.view80{
    width: 80vw;
}

.listaCats__cat{
    cursor: pointer;
    display: flex;
    justify-content: center;
    border: #171717 2px solid;
    border-radius: 30px;
    padding: 3px;
    margin: 3px;
    list-style: none;
    color: var(--font-night);
}

.highlight--night{
    background-color: var(--bg-night);
    border: var(--font-night) 2px solid;
}

.highlight--day{
    background-color: var(--gb-day);
    border: var(--font-bl) 2px solid;
    transition: var(--colorTransition);
}

.cat__title{
    color: var(--font-night);
    margin: 20px;
    border-bottom: var(--font-night) solid 2px;
    transition: var(--colorTransition);
}

.noresults{
    color: var(--font-night);
    font-size: 300%;
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.descripcion{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: hidden;
}

.descripcionTarjeta{
    position: fixed;
    background-color: red;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    display: flex;
    border-radius: 50px;
    max-width: 70%;
    z-index: 2;
}

.descripcionFoto{
    border-radius: 50px;
    width: 400px;
    margin-right: 1rem;
}

.tituloycarro{
    display: grid;
    grid-template-columns: 7fr 3fr;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.descripcion__texto__div{
    background-color: var(--bg-night-secondary);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.descripcionTexto{
    margin: 10px;
    color: white;
}

.descTitle{
    font-size: 3rem;
}

.descripcion__texto__div{
    height: 80%;
    width: 95%;
    align-items: center;
    justify-content: center;
    border: 3px solid black;
}

.descripcion__tituloDesc{
    display: grid;
    grid-template-rows: 4fr 6fr;
}

.divCarrito{
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-night-secondary);
    border: 3px var(--bg-night) solid;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.div__titulo{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section__carrito{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.vote_average{
    background-color: var(--bg-night-secondary);
    padding: 1rem;
    border-radius: 50%;
    border: 3px var(--bg-night) solid;
    font-size: 200%;
}

.vote__red{
    color: var(--font-night);
}

.vote__oranje{
    color: orange;
}

.vote__green{
    color: greenyellow;
}

.tapaTodo{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: hidden;
}

.sectionaside{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.aside{
    position: fixed;
    top: 0;
    left: end;
    color: white;
    background-color: black;
    width: 30%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-left: 3px solid var(--bg-night-secondary);
    z-index: 2;
}

.carrito__title{
    padding: 2rem;
    color: red;
    font-size: 2rem;
}

.aside__ul{
    margin-bottom: 3rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    overflow: scroll;
}

.aside__li{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    border-bottom: 1px grey solid;
    padding: 1.5rem;
}

.aside__li:first-child{
    border-top: 1px grey solid;
}

.ul__img{
    border-radius: 10px;
}

.ul__title{
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
    font-size: 1.3rem;
}

.ul__span{
    margin: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
    font-size: 1.5rem;
}

.ul__div__btn{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.ul__btn{
    background-color: grey;
    border: 3px red solid;
    border-radius: 30px;
    height: 2.5rem;
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.total__div{
    height: 30%;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: flex-start;
    border-top: 3px red solid;
}

.total__div__precio{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.total__title{
    color: red;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
    margin-left: 3rem;
    font-size: 1.5rem;
}

.precio__total{
    color: red;
    font-size: 2rem;
    margin-right: 3rem;
    display: flex;
    align-items: center;
}

.borrar__compras__div{
    width: 100%;
    display: flex;
    margin-top: 3rem;
    justify-content: center;
    align-items: center;
}

.borrar__compras{
    background-color: grey;
    border: 3px red solid;
    border-radius: 30px;
    height: 2.5rem;
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

@media (max-width: 800px){
    .responsive{
        display: none;
    }
}

@media (max-width: 375px){
    .busqueda{
        width: 80px;
    }
}