:root{
    --bg-night: #171717;
    --bg-night-secondary: #444444;
    --gb-day: #faf3f3;
    --bg-day-secondary: #a7bbc7;
    --font-night: #da0037;
    --font-day: #FC345C;
    --font-wt: #ededed;
    --font-bl: #171717;
    --colorTransition: 2s;
}

*::-webkit-scrollbar {
    display: none;
  }

*{
    padding: 0;
    margin: 0;
    font-family: 'Radio Canada', sans-serif;
    
}

.body--nightMode{
    background-color: var(--bg-night);
    transition: var(--colorTransition);
}

.body--dayMode{
    background-color: var(--gb-day);
    transition: var(--colorTransition);
}

.main__title__div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main__div__redirection{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    padding: 25px;
    border-radius: 50px;
    color: var(--font-wt);
    background-color: var(--font-night);
    border: solid 5px var(--bg-night);
}

.main__title--nightMode{
    color: var(--font-night);
    transition: var(--colorTransition);
}

.main__title--dayMode{
    color: var(--font-day);
    transition: var(--colorTransition);
}

.main__title{
    font-size: 100px;
    text-shadow: 1px 1px 10px var(--bg-night);
}

.header{
    display: flex;
    position: sticky;
    top: 0;
    z-index: 0;
    justify-content: space-around;
    align-items: center;
    padding: 25px;
}

.header__bg--nightMode{
    background-color: var(--bg-night-secondary);
    transition: var(--colorTransition);
}

.header__bg--dayMode{
    background-color: var(--bg-day-secondary);
    transition: var(--colorTransition);
}

.header__btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.header__title__span--nightMode{
    color: var(--font-night);
    transition: var(--colorTransition);
}

.header__title__span--dayMode{
    color: var(--font-day);
    transition: var(--colorTransition);
}

.header__title__span{
    transition: 0.5s;
}

.header__title__span:hover{
    text-shadow: 0 0 30px #da0037,
    0 0 20px #da0037,
    0 0 10px #da0037;
}

.header__title--nightMode{
    color: var(--font-wt);
    transition: var(--colorTransition);
}

.header__title--dayMode{
    color: var(--font-bl);
    transition: var(--colorTransition);
}

.header__div{
    display: flex;
}

.header__title__main{
    text-decoration: none;
}

.main__section{
    display: grid;
    grid-template-rows: 1fr 1fr;
    
}

.main__section__div{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.main__section__title--nightMode{
    color: var(--font-night);
    transition: var(--colorTransition);
}

.main__section__title--dayMode{
    color: var(--font-day);
    transition: var(--colorTransition);
}

.main__section__title{
    font-size: 40px;
    margin: 50px;
}

.card__div{
    width: 250px;
    height: 300px;
    border-radius: 50px;
    overflow: hidden;
}

.card__img{
    width: 250px;
    height: 300px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    transition: 2s;
}

.card__img:hover{
    transform: scale(1.2);
}

.card__title--nightMode{
    color: var(--font-night);
}

.card__title--dayMode{
    color: var(--font-day);
}

.card__title{
    margin: 10px;
    font-size: 30px;
}

.gb-video{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
}

.display--none{
    display: none;
}

.filtros__bg--nightMode{
    background-color: var(--bg-night-secondary);
    transition: var(--colorTransition);
}

.filtros__bg--dayMode{
    background-color: var(--bg-day-secondary);
    transition: var(--colorTransition);
}

.filtros{ 
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainClass__filtros{
    display: grid;
    grid-template-columns: 2fr 10fr;
    transition: 2s;
}

.section__form{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form{
    height: 300px;
    width: 800px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.form__div{
    display: flex;
}